<section id="mangemant">

<div class="col-md-12-ml-auto">
  <div class="row">    
    
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>User Mangemant</h1>
  </div>

  <table class="table">
    <tr>
      <th>Name:</th>
      <th>Username:</th>
      <th>Email:</th>
    </tr>

    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>

      <td>


          <button type="button" class="btn btn-primay">Edit</button>



            <button type="button" class="btn btn-danger">Delete</button>         
      </td>
    </tr>
  </table>
 </div>
 </div>
 </div>
 </section>


